<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    
    <!-- <form action="/user/dashboard" method = "GET"> -->
        <h1>Welcome : <%= user %></h1>
        <a href="/user/logout">Logout</a><br>
        <a href="/user/update?email=<%=email %>">Update</a><br>
        <a href="/user/delete?email=<%=email %>">Delete account</a>
        <!-- <a href="/user/update?token= ">Update</a> -->
    <!-- </form> -->
    
</body>
</html>