<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>otp</title>
</head>
<body>
    <p>otp : </p>
    <form action="/user/otp" method = "POST">
        <input type="hidden" name="email" value="<%= email %>">
        <input type="text" name = "otp" required>
        <input type="submit" value = "verify otp">
    </form>
</body>
</html>